* {
	  padding: 0 0 0 0;
    border-radius: 0px;
    border:        none;
    font-family:   "Cascadia Mono NF";
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
		min-height: 0;
    /* background-color: rgba(00, 00, 00,0.8); */
		background-color: #010200;
	}

#mode,
#battery,

window#waybar {
		margin: 0 5px 0 5px;
  }


window#waybar.solo {
    /* color: rgba(53, 185, 171, 1); */
}

label.module {
    padding: 0 10px;
		}
#tray {
}

#workspaces {
	margin: 0 25px 0 5px;
}

#workspaces button {
	color: #FFFFFF;
	margin: 0 5px 0 5px;
}

#workspaces button.empty {
	color: rgba(135, 133, 128,1);
}

#workspaces button.visible {
  color: #D4FF00;
}

#workspaces button.default {
  color: #FFFFFF;
	background-color:inherit;
}
#workspaces button.focused {
	color: #FFFFFF;
  background-color: #D4FF00;
}

#workspaces button.urgent {
    color: rgba(33, 164, 223, 1);
}
#cpu {
    background-color: #FC0434;
}
#bluetooth {
    background-color: #1400ea;
}

#network {
	background-color: #eb7512;
}

#pulseaudio {
	color: #010200;
	background-color:#D4FF00;
}

#clock {
  color:  rgba(230, 228, 217, 0.9);
}
#memory {
	color:#010200;
	background-color: #85e1b4;
}

#backlight {
  padding: 0 12px 0 0;
}

/* #battery.warning { */
/*    color: rgba(255, 210, 4, 1); */
/* } */
/* #battery.critical { */
/*     color: rgba(238, 46, 36, 1); */
/* } */
/* #battery.charging { */
/*     color: rgba(217, 216, 216, 1); */
/* } */
